/*欢迎卡片*/
.welcome h1{
    font-size: clamp(20px, 1vw, 30px);
}

.welcome h2 {
    font-size: clamp(15px, 1vw, 25px);
}

/*组织简介卡片*/
#org_introduction {
    display: flex;
}

#org_introduction p {
    font-size: clamp(15px, 3vw, 20px);
    line-height: 1.5;
    text-indent: 2em;
    text-align: justify;
    letter-spacing: 0.3px;
}

/*首行卡片组*/
#video_and_news_frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

/*帖子/公告卡片*/
#news_box {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#news_window {
    width: 55%;
    position: relative;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: linear-gradient(#fff, #fff);
    -webkit-mask-clip: padding-box;
    mask-image: linear-gradient(#fff, #fff);
    border-radius: 20px;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

#news_img_list a::before {
    content: "giao！";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.75) 70%);
    color: #ffffff00;
}

#news_img_list {
    display: flex;
    height: 100%;
    gap: 0;
    transform: translateX(-100%); /*隐藏克隆图片*/
    transition: all 0.3s ease;
    touch-action: pan-y;
}

#news_img_list a {
    display: flex;
    width: 100%;
    height: 100%;
}

#news_img_list li {
    width: 100%;
    flex-shrink: 0;
}

#news_img_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#news_img_list p {
    position: absolute;
    width: 100%;
    color: #ffffffdd;
    text-align: center;
    bottom: 10px;
    font-size: 14px;
}

#news_img_ctrl {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}

#news_window:hover :is(.img_next_button, .img_last_button) {
    opacity: 1;
}

#news_list {
    width: 45%;
    position: relative;
    transition: all 0.3s ease;
}

#news_list ul {
    margin: 5px;
}

.news_button {
    transition: all 0.1s ease;
    background: rgba(200, 200, 200, 0);
    text-decoration: none;
    margin: 5px;
    display:block;
}

.news_button:hover {
    color: var(--theme-a-hover);
    text-decoration: underline;
    font-weight: bold;
}

/*视频卡片*/
#video_box {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 5px;
    margin: 0;
}

/*视频窗口包裹*/
#video_window {
    background: black;
    width: 65%;
    aspect-ratio: 16/9;
    padding: 0px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: linear-gradient(#fff, #fff);
    -webkit-mask-clip: padding-box;
    mask-image: linear-gradient(#fff, #fff);
    border-radius: 20px;
}

/*内嵌B站视频*/
#video {
    display: flex;
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
    align-items: center;
    /* 移除定位偏移，交由父容器居中 */
}

/*视频选择器*/
#video_list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 35%;
    -webkit-mask-image: linear-gradient(#fff, #fff);
    -webkit-mask-clip: padding-box;
    mask-image: linear-gradient(#fff, #fff);
}

#video_list > div {
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

#video_list ul {
    display: flex;
    flex-direction: column;
}

.video_button {
    transition: all 0.15s ease;
    background: rgba(200, 200, 200, 0);
    margin-bottom: 5px;
}

.video_button:hover {
    background: rgba(200, 200, 200, 0.5);
    font-size: 17px;
    font-weight: 500;
    color: red;
}



/*入口卡片*/
#entrance {
    display: block;
}

#entrance ul {
    display: flex;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}


/*移动端适配*/
@media(max-width:1024px) {
    #video_box {
        flex-direction: column;
    }

    #video_window {
        width: calc(100% - 10px);
        margin: 5px auto;
        box-sizing: border-box;
    }

    #video_list {
        width: calc(100% - 10px);
    }

    #news_box {
        flex-direction: column;
    }

    #news_window {
        width: calc(100% - 10px);
        margin: 5px auto;
    }

    #news_list {
        width: calc(100% - 10px);
    }
}

@media(max-width:768px) {
    #video_and_news_frame {
        flex-direction: column;
    }

    #video_box {
        width: 100%;
        margin-right: auto;
    }

    #news_box {
        width: 100%;
    }
}

