* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.total_index {
    z-index: 0;
}

.index {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    position: fixed;
    display: flex;
    top: 0px;
    z-index: 1;
}

#menu_checkbox {
    display: none;
    position: fixed;
}

@media(min-width: 600px) {
    .mobile {
        display: none;
    }

/*桌面端导航列表*/
    .menu ul { 
        display: flex;
        list-style: none;
        height: 50px;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
    }

/*桌面端导航列表项*/
    .menu li {
        display: flex;
    }

/*桌面端导航列表项的内容（用div包裹）*/
    .menu_project {
        padding-right: 10px;
        padding-left: 10px;
        margin: -10px;
        height: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        background: rgba(210, 210, 210, 0);
        text-decoration-line:none;
        transition:background 0.3s ease;
        position:relative;
    }

/*桌面端导航列表项目图片*/
    .menu_project > .menu_img {
        position: absolute;
        width: 20px;
        opacity: 0;
        left: 15px;
        top: -30px;
        transition: all ease 0.3s;
        -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    }


/*桌面端导航列表项的文字*/
    .menu_text {
        color: black;
        font-weight: bold;
        font-style: normal;
        text-decoration-line: none;
        line-height: 50px;
        transition: all 0.3s ease;
    }
}

@media(max-width:600px) {
    .desktop {
        display:none
    }

/*移动端菜单按钮*/
    #menu {
        display: flex;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 50px;
        height:50px;
        font-size: 30px;
        transition: all 0.3s ease;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    /*移动端导航列表*/
    .menu.mobile {
        display: flex;
        position: fixed;
        background-color: #f1f1f1;
        top: -250px;
        width: 100%;
        transition: top 0.3s ease;
        z-index: 0;
    }

    .menu.mobile ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        width:100%;
    }

    /*移动端导航列表项*/
    .menu.mobile li {
        display: flex;
        width: 100%;
    }

    /*移动端导航列表项的内容（用div包裹）*/
    .menu_project {
        display: flex;
        margin-bottom: 0px;
        width: 100%;
        height: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        background: rgba(210, 210, 210, 0);
        text-decoration-line: none;
        transition: background 0.3s ease;
    }

    /*移动端导航列表项的文字*/
    .menu_text {
        color: black;
        padding-left:15px;
        font-weight: bold;
        font-style: normal;
        text-decoration-line: none;
        line-height: 50px
    }

    #menu_checkbox:checked ~ #menu {
        transform:rotate(90deg);
    }

/*    #menu:hover ~ .menu.mobile {
        top:50px;
    }*/

    #menu_checkbox:checked ~ .menu.mobile{
        top:50px;
    }
}



#logo {
    width: 40px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    z-index: 1;
}

#mgcraft_logo {
    width: 40px;
    position: absolute;
    left: 23px;
    top: 7px;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu_project:hover {
    background: rgba(210, 210, 210, 0.5)
}

.menu_project.mgcraft_link:hover {
    background: rgb(255, 174, 0, 0.3);
}

.menu_project.mgcraft_link:hover .menu_text.mgcraft_link {
    color: rgb(14, 208, 145);
    font-size: 18px;
    text-indent: -10px;
}

.menu_project.mgcraft_link:hover .menu_text.mgcraft_link.mgcraft {
    opacity: 0;
}

.menu_project.mgcraft_link:hover #mgcraft_logo {
    opacity: 1;
    width: 50px;    
    left: 18px;
    top: 2px;
}

.menu_project:hover .menu_img {
    opacity: 1;
    width: 35px;
    top: 0;
    left: 7.5px;
}

.menu_project:hover .normal_link {
    line-height: 75px;
    font-size: 13px;
    letter-spacing:3px;
}

.menu_project:hover .home_link {
    color: purple;
}

.menu_project:hover .wiki_link {
    letter-spacing: 1.6px;
    color: blue;
}

.menu_project:hover .event_link {
    color: green;
}

.menu_project:hover .compeition_link{
    color: red;
}
