* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    position: fixed;
    display: flex;
    top: 0px;
}

@media(min-width: 600px) {
/*导航列表*/
    .index ul { 
        display: flex;
        list-style: none;
        height: 50px;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
    }

/*导航列表项*/
    .index li {
        display: flex;
    }

/*导航列表项的内容（用div包裹）*/
    .index div {
        padding-right: 10px;
        padding-left: 10px;
        margin: -10px;
        height: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        background: rgba(210, 210, 210, 0);
    }

/*导航列表项的文字（用div包裹）*/
    .index_text {
        color: black;
        font-weight: bold;
        font-style: normal;
        text-decoration-line: none;
        line-height: 50px
    }
}



#logo {
    width: 40px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.index div:hover {
    animation: index_hover 300ms ease 0s infinite;
    animation-play-state: running;
    animation-direction: alternate;
}

.index div:not(:hover) {
    animation: none;
}

@keyframes index_hover{
    from {
        background: rgba(210, 210, 210, 0);
    }
    to {
        background: rgba(210, 210, 210, 1);
    }
}