/*通用按钮样式*/
.button {
    cursor: pointer;
    border: none;
}

/*通用更多按钮样式*/
.more_button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    content: "更多>>";
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
}

.more_button:hover {
    text-decoration: underline;
    color: blue;
}

/*通用不可用按钮*/
.enabled_button {
    cursor: not-allowed;
    opacity: 0.5;
    filter: brightness(0.8);
}

.enabled_button:hover {
    top: 0px;
    background-color:#ababab88;
    filter: brightness(1);
}