/*通用按钮样式*/
.button {
    cursor: pointer;
    border: none;
    pointer-events: auto;
}

/*通用超链接样式*/
a {
    color: var(--theme-text-color);
}

/*通用更多按钮样式*/
.more_button {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
    content: "更多>>";
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
    filter: invert(var(--theme-invert));
}

.more_button:hover {
    text-decoration: underline;
    color: blue;
}

/*通用不可用按钮*/
.enabled_button {
    cursor: not-allowed;
    opacity: 0.5;
    filter: brightness(0.8);
}

.enabled_button:hover {
    top: 0px;
    background-color:#ababab88;
    filter: brightness(1);
}

/*入口按钮*/
.entrance_button {
    position: relative;
    align-items: center;
    display: flex;
    width: 120px;
    height: 120px;
    top: 0px;
    border-radius: 10px;
    text-decoration: none;
    flex-direction: column;
}

.entrance_button p {
    font-size: 12px;
    color: #555555;
    text-align: center;
    filter: invert(var(--theme-invert))
}

.entrance_button_coll_box:hover > .entrance_button{
    box-shadow: 0 10px 26px rgba(0,0,0,0.35);
    top: -5px;
    background-color: var(--theme-button-hover);
}

.entrance_img {
    width: 50%;
    margin: 5px;
}

.entrance_img.no_img {
    filter: invert(var(--theme-invert))
}


/*导航栏按钮*/
.index_button_hover {
    position: relative;
}

.index_button_hover_line {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 35px;
    height: 3px;
    background: var(--theme-index-button-color);
    transform: translateX(-50%) scaleX(0);
    border-radius: 2px;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 1)
}

.index_button_hover:hover .index_button_div{
    animation: shake_small 0.55s infinite linear;
}

.index_button_hover:hover  .index_button_hover_line {
    transform: translateX(-50%) scaleX(1);
}

.index_button_hover:active .index_button_hover_line {
    transform: translateX(-50%) scaleX(0);
}

.index_button_div * {
    display: flex;
}

/*图片翻页通用样式*/
/*左右箭头*/
.img_next_button, .img_last_button {
    width: 20px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff66;
    opacity: 0;
    transition: all 0.3s ease;
}

:is(.img_next_button, .img_last_button):hover{
    background-color: #ffffff88;
}

.img_next_button {
    right: 0px;
}

.img_last_button {
    left: 0px;
}

:is(.img_next_button, .img_last_button)::after {
    --tx: 3px;
    --ty: 3px;
    content: "";
    width: 10px;
    height: 10px;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    transition: all 0.2s ease;
}

/*左箭头*/
.img_last_button::after {
    transform: rotate(-45deg) translate(var(--tx), var(--ty));
}

/*右箭头*/
.img_next_button::after {
    transform: rotate(135deg) translate(var(--tx), var(--ty));
}

:is(.img_next_button, .img_last_button):hover::after {
    --tx: 1px;
    --ty: 1px;
}

/*图片索引*/
.img_index {
    width: 100%;
    height: 15px;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.img_index ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.img_index li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff66;
}

.index_dot[data-active="true"] {
    background-color: #ffffffdd;
}
