<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="夜雨市（Night Rain）是芒果方块Minecraft公益粉丝服的生电组织之一，是服务器里兼具颜值与实用性的综合性组织。我们拒绝枯燥的单机玩法，主打温馨社群+硬核技术+美学创作三重体验，打造让每一位成员都有归属感的游戏家园。" />
<meta name="keywords" content="芒果方块,夜雨市,芒果方块,,我的世界,Mangocraft,Minecraft,mc,夜雨,社区,粉丝服,公益服,mc,我的世界服务器,原版生存,生电,红石,组织,游戏,WGc_,Mirence,Yezitiantian,RainsleepSTFA,Wigton,qingtian0110," />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="夜雨市 | 芒果方块粉丝服">
<meta property="og:type" content="website">
<meta property="og:description" content="夜雨市（Night Rain），芒果方块Minecraft公益粉丝服的组织之一，主打温馨社群+硬核技术+美学创作三重体验，打造让每一位成员都有归属感的游戏家园。">
<meta property="og:image" content="https://yyrain.cn/static/image/nr_logo.png">
<meta property="og:url" content="https://yyrain.cn/">
<meta property="og:locale" content="zh_CN">
<meta name="color-scheme" content="light only">

<!-- 基本样式 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/beian.css') }}" />

<!-- 公共样式 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/animation.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/box.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/button.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/crumb.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/decorator.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/list.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/pagination.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/text.css') }}" />

<!--网站图标-->
<link rel="icon" href="{{ url_for('static', filename='image/nr_logo.png') }}" />

<!--字体图标-->
<link rel="stylesheet" href="{{ url_for('static', filename='font/iconfont.css') }}">

<!--JS模块-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js " defer></script>