<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="夜雨市（Night Rain）是芒果方块Minecraft公益粉丝服的生电组织之一，是服务器里兼具颜值与实用性的综合性组织。我们拒绝枯燥的单机玩法，主打温馨社群+硬核技术+美学创作三重体验，打造让每一位成员都有归属感的游戏家园。" />
<meta name="keywords" content="芒果方块,夜雨市,芒果方块,,我的世界,Mangocraft,Minecraft,mc,夜雨,社区,粉丝服,公益服,mc,我的世界服务器,原版生存,生电,红石,组织,游戏,WGc_,Mirence,Yezitiantian,RainsleepSTFA,Wigton,qingtian0110," />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="夜雨市 | 芒果方块粉丝服">
<meta property="og:type" content="website">
<meta property="og:description" content="夜雨市（Night Rain），芒果方块Minecraft公益粉丝服的组织之一，主打温馨社群+硬核技术+美学创作三重体验，打造让每一位成员都有归属感的游戏家园。">
<meta property="og:image" content="https://yyrain.cn/static/image/nr_logo.png">
<meta property="og:url" content="https://yyrain.cn/">
<meta property="og:locale" content="zh_CN">
<meta name="color-scheme" content="light only">
<link href="static/css/index.css" rel="stylesheet" />
<link href="static/css/body.css" rel="stylesheet" />
<link href="static/css/text.css" rel="stylesheet" />
<link href="static/image/nr_logo.png" rel="icon" />

<!--字体图标-->
<link rel="stylesheet" href="static/font/iconfont.css">