<footer class="site-footer">
    <div class="footer-copyright">
        <p class="copyright-text">© 2026 Mirence | 夜雨市  版权所有</p>
        <p class="beian-row">
            <img class="beian-icon" src="https://wap.miit.gov.cn/cms_files/webmiit/tplobject/gxbsy/7c75257d15f44bcb9bf47d524cd9cb65/images/home_btn.png" alt="ICP备案图标">
            <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">浙ICP备2026030804号</a>
            <span class="separator"></span>
            <img class="beian-icon" src="https://beian.mps.gov.cn/web/assets/logo01.6189a29f.png" alt="公安备案图标">
            <a href="https://beian.mps.gov.cn/#/query/webSearch?domain=33032902000244" target="_blank" rel="noopener noreferrer">浙公网安备33032902000244号</a>
        </p>
    </div>
</footer>
