<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% include 'base.html' %}
    <title>夜雨市 | 芒果方块粉丝服</title>
    <link href="{{ url_for('static', filename='css/home_index.css') }}" rel="stylesheet" />
</head>
<body>
    {% include 'index.html' %}

    <!--组织简介-->
    <div id="org_introduction" class="text">
        <div class="box welcome">
            <h1>夜雨市欢迎您！</h1>
            <h2>网站建设中，敬请期待。。。</h2>
        </div>

        <div class="box">
            <h3 class="title">组织介绍</h3>
            <p>夜雨市是芒果方块Minecraft纯公益粉丝服的生电组织之一，是服务器里兼具颜值与实用性的综合性组织。我们拒绝枯燥的单机玩法，主打温馨社群+硬核技术+美学创作三重体验，打造让每一位成员都有归属感的游戏家园。</p>
            <p class="tip">夜雨市是个很棒的组织！</p>
        </div>
    </div>

    <!--首行卡片组-->
    <div id="video_and_news_frame" class="text">
        <!--视频板块-->
        <div id="video_box" class="box">
            <div id="video_window" class="box">
                <iframe id="video"
                        src=""
                        scrolling="no"
                        allowfullscreen>
                </iframe>
            </div>
            <div id="video_list">
                <h3>节目选择</h3>
                <ul class="list" id="video_list_wrap">
                    节目加载中。。。
                    <!-- JS动态渲染填充内容-->
                </ul>
            </div>
        </div>
        <!--帖子/公告板块-->
        <div id="news_box" class="box">
            <h3>公告栏</h3>
            <a class="more_button" id="more_news_button" href="/news">更多>></a>
            <ul class="list" id="news_list_wrap">
                公告加载中。。。
                <!-- JS动态渲染填充内容-->
            </ul>
        </div>
    </div>

    <div id="entrance" class="box text">
        <h3>快捷入口</h3>
        <ul class="list">
            <li>
                <a class="entrance_button box" href="https://docs.qq.com/aio/p/scdfxzjwuedj61p" target="_blank">
                    <img class="entrance_img" src="https://docs.gtimg.com/docs-design-resources/document-management/tencent-docs/favicon/application-vnd.tdocs-apps.smartcanvas.png" alt="网站图标">
                    <p>夜雨市组织综合指南（腾讯文档）</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://docs.qq.com/aio/DQmpHdU91cGNQWmhm" target="_blank">
                    <img class="entrance_img" src="https://docs.gtimg.com/docs-design-resources/individuation/desktop/tmoji/google_emoji/svg/emoji_u2764-ce9b22dafb.svg" alt="网站图标">
                    <p>芒果方块粉丝服指南（腾讯文档）</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="http://map.mangocraft.cn:2087/#world:-17786:58:15258:198:0.77:0.68:0:0:perspective" target="_blank">
                    <img class="entrance_img" src="{{ url_for('static', filename='image/favicon-DEN7TZ5X.png') }}" alt="网站图标">
                    <p>芒果方块粉丝服在线地图</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://space.bilibili.com/667186816" target="_blank">
                    <img class="entrance_img" src="https://www.bilibili.com/favicon.ico" alt="网站图标">
                    <p>Mirence的B站个人空间</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://space.bilibili.com/23240466" target="_blank">
                    <img class="entrance_img" src="https://www.bilibili.com/favicon.ico" alt="网站图标">
                    <p>芒果方块B站个人空间</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://mcnnyy2.yyrain.cn" target="_blank">
                    <img class="entrance_img" src="https://mcnnyy2.yyrain.cn/lib/tpl/bootstrap3/images/favicon.ico" alt="网站图标">
                    <p>MCnnyy2的Wiki站</p>
                </a>
            </li>
        </ul>
    </div>

    <div id="entrance" class="box text">
        <h3>友情网址</h3>
        <ul class="list">
            <li>
                <a class="entrance_button box" href="https://mgcraft.net" target="_blank">
                    <img class="entrance_img" src="https://s1.imagehub.cc/images/2024/08/16/f195bd3884e002d9c2e079ec3a2361bb.png" alt="网站图标">
                    <p>芒果方块 | 与你，共同发现</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://ks.org.mgcraft.net" target="_blank">
                    <img class="entrance_img" src="{{url_for("static", filename = "image/no_icon.png")}}" alt="网站图标">
                    <p>芒果方块粉丝服 | 口水哗啦啦小镇</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box enabled_button" target="_blank">
                    <img class="entrance_img" src="{{url_for("static", filename = "image/no_icon.png")}}" alt="网站图标">
                    <p>芒果方块粉丝服 | 狂欢庄园</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://sy.mcnnyy2-test3.pages.dev" target="_blank">
                    <img class="entrance_img" src="{{url_for("static", filename = "image/no_icon.png")}}" alt="网站图标">
                    <p>芒果方块粉丝服 | 山映水樱</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://wanfeng.cyou" target="_blank">
                    <img class="entrance_img" src="https://wanfeng.cyou/favicon.svg" alt="网站图标">
                    <p>芒果方块粉丝服 | 晚风</p>
                </a>
            </li>
            <li>
                <a class="entrance_button box" href="https://mcnnyy2.yyrain.cn" target="_blank">
                    <img class="entrance_img" src="{{url_for("static", filename = "image/no_icon.png")}}" alt="网站图标">
                    <p>芒果方块粉丝服 | 维特小镇</p>
                </a>
            </li>
        </ul>
    </div>

    {% include 'beian.html' %}


    <script type="module" src="{{ url_for('static', filename='js/insert.js') }}"></script>
</body>
</html>