<div class="total_index">
    <nav class="index">
        <a href="/">
            <img id="logo" src="static/image/nr_logo.png" alt="夜雨市logo">
        </a>
        <div class="menu desktop">
            <ul>
                <li>
                    <a class="menu_project normal_link" href="/">
                        <img class="menu_img" src="static/image/nr_logo.png" alt="首页" />
                        <div class="menu_text normal_link home_link">
                            首页
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link " href="/wiki" target="_blank">
                        <img class="menu_img" src="static/image/wiki_logo.png" alt="wiki" />
                        <div class="menu_text normal_link wiki_link">
                            Wiki
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link" href="/event">
                        <img class="menu_img" src="static/image/event_logo.png" alt="活动" />
                        <div class="menu_text normal_link event_link">
                            活动
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link" href="/competition">
                        <img class="menu_img" src="static/image/nrl_logo.png" alt="赛事" />
                        <div class="menu_text normal_link compeition_link">
                            赛事
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project mgcraft_link" href="https://mgcraft.net" target="_blank">
                        <div class="menu_text mgcraft_link">
                            <img src="static/image/mgcraft_logo.png" id="mgcraft_logo"/>
                            <span class="menu_text mgcraft_link mgcraft">芒果方块</span>官网
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <input type="checkbox" id="menu_checkbox" />
    <label class="iconfont icon-caidan mobile" id="menu" for="menu_checkbox"></label>
    <!--移动端导航-->

    <div class="menu mobile">
        <ul>
            <li><a class="menu_project" href="/"><div class="menu_text">首页</div></a></li>
            <li><a class="menu_project" href="/wiki" target="_blank"><div class="menu_text">Wiki</div></a></li>
            <li><a class="menu_project" href="/event"><div class="menu_text">活动</div></a></li>
            <li><a class="menu_project" href="/competition"><div class="menu_text">赛事</div></a></li>
            <li><a class="menu_project mgcraft_link" href="https://mgcraft.net" target="_blank"><div class="menu_text">芒果方块官网</div></a></li>
        </ul>
    </div>
</div>




