<nav class="index">
    <ul>
        <li>
            <a href="/">
                <img id="logo" src="static/image/nr_logo.png" alt="夜雨市logo">
            </a>
        </li>
        <li><div><a class="index_text" href="/">首页</a></div></li>
        <li><div><a class="index_text" href="/wiki" target="_blank">Wiki</a></div></li>
        <li><div><a class="index_text" href="/event">活动</a></div></li>
        <li><div><a class="index_text" href="/competition">赛事</a></div></li>
        <li><div><a class="index_text" href="https://mgcraft.net" target="_blank">芒果方块官网</a></div></li>
    </ul>
</nav>




