<!--导航栏-->
<script type="module" src="{{url_for("static", filename = "js/index.js")}}"></script>
<div class="total_index">
    <nav class="index">
        <a href="/">
            <img id="logo" src="{{ url_for('static', filename='image/nr_logo_dark.webp') }}" alt="夜雨市logo">
        </a>
        <div class="menu desktop">
            <ul>
                <li>
                    <a class="menu_project normal_link" href="/">
                        <img class="menu_img" src="{{ url_for('static', filename='image/nr_logo.webp') }}" alt="首页" />
                        <div class="menu_text normal_link home_link button">
                            首页
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link " href="/wiki" target="_blank">
                        <img class="menu_img" src="{{ url_for('static', filename='image/wiki_logo.png') }}" alt="wiki" />
                        <div class="menu_text normal_link wiki_link button">
                            Wiki
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link" href="/event">
                        <img class="menu_img" src="{{ url_for('static', filename='image/event_logo.png') }}" alt="活动" />
                        <div class="menu_text normal_link event_link button">
                            活动
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project normal_link" href="/competition">
                        <img class="menu_img" src="{{ url_for('static', filename='image/nrl_logo.webp') }}" alt="赛事" />
                        <div class="menu_text normal_link compeition_link button">
                            赛事
                        </div>
                    </a>
                </li>
                <li>
                    <a class="menu_project mgcraft_link" href="https://mgcraft.net" target="_blank">
                        <div class="menu_text mgcraft_link button">
                            <img src="{{ url_for('static', filename='image/mgcraft_logo.webp') }}" id="mgcraft_logo" />
                            <span class="menu_text mgcraft_link mgcraft">芒果方块</span>官网
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="top_title">
            芒果方块 | 夜雨市
        </div>
    </nav>

    <label class="iconfont icon-caidan mobile button" id="menu"></label>
    <!--移动端导航-->

    <div class="menu mobile">
        <ul>
            <li><a class="menu_project button" href="/"><div class="menu_text">首页</div></a></li>
            <li><a class="menu_project button" href="/wiki" target="_blank"><div class="menu_text">Wiki</div></a></li>
            <li><a class="menu_project button" href="/event"><div class="menu_text">活动</div></a></li>
            <li><a class="menu_project button" href="/competition"><div class="menu_text">赛事</div></a></li>
            <li><a class="menu_project mgcraft_link button" href="https://mgcraft.net" target="_blank"><div class="menu_text">芒果方块官网</div></a></li>
        </ul>
    </div>
</div>




